{% extends "base.html" %}

{% load static i18n %}

{% load crispy_forms_tags %}

{% block splash %}
<section class="intro view">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn">S2 Design - MDB BS4</h1>

        <h5 class="animated fadeIn mb-1">Inspired by Genius - Driven by Passion</h5>

        <p class="animated fadeIn mb-2"><em>~ Steve Shead</em></p>

        <p><a class="btn btn-info" href="{% url 'account_signup' %}">Register </a>
        <a class="btn btn-primary" href="{% url 'about' %}">More Info</a></p>
<div class="mask pattern-5"></div>
    </div>
</section>
{% endblock splash %}

{% block content %}
<section class="welcome">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        {% if request.user.is_authenticated %}
          <h3>Welcome <span>{{ request.user.name }}</span> - We Are Glad You Are Here!</h3>
        {% else %}
        <h3>Welcome Guest - Please <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a> or <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></h3>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section id="features" class="section features feature-box">
  <div class="container">

    <!--Section heading-->
    <h1 class="section-heading pt-4">The Future of Technology</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--Grid row-->
    <div class="row features-small pt-3">

        <!--Grid column-->
        <div class="col-lg-5 mb-r center-on-small-only">
            <img src="{% static 'images/ipad_pro_mockup.png' %}" alt="" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-html5"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Creativity</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <a class="btn btn-info" href="#">More Info</a>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-css3"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Innovation</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <a class="btn btn-info" href="#">More Info</a>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-code"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Genius</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <a class="btn btn-info" href="#">More Info</a>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
</section>

<section id="projects" class="projects section text-center">
  <div class="container">

    <!--Section heading-->
    <h1 class="section-heading pt-4">Project Gallery</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/laptop-sm.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="green-text"><h5><i class="fa fa-line-chart"></i> Lorem Ipsum</h5></a>
                <h4>Dolor Sit Amet Laboriosam</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> Read More</a>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/avenue.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="blue-text"><h5><i class="fa fa-eye"></i> Lorem Ipsum</h4></a>
                <h4>Dolor Sit Amet Laboriosam</h3>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> Read More</a>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/bike.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="brown-text"><h5><i class="fa fa-camera"></i> Lorem Ipsum</h4></a>
                <h4>Dolor Sit Amet Laboriosam</h3>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> Read More</a>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/laptop_iphone.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="cyan-text"><h5><i class="fa fa-phone"></i> Lorem Ipsum</h5></a>
                <h4>Dolor Sit Amet Laboriosam</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> Read More</a>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>

</section>

<section id="gallery" class="section galleries pb-5">
  <div class="container">
    <!--Section heading-->
    <h1 class="section-heading pt-4">Top Galleries</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
                <!--Card image-->
                <div class="view  hm-zoom">
                    <img src="{% static 'images/ecommerce-1.jpg' %}" class="img-fluid" alt="">
                    <div class="stripe dark">
                        <a>
                            <p class="hoverMe">Concrete <i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
                <!--Card image-->
                <div class="view  hm-zoom">
                    <img src="{% static 'images/ecommerce-2.jpg' %}" class="img-fluid" alt="">
                    <div class="stripe light">
                        <a>
                            <p>Models <i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
                <!--Card image-->
                <div class="view  hm-zoom">
                    <img src="{% static 'images/ecommerce-3.jpg' %}" class="img-fluid" alt="">
                    <div class="stripe dark">
                        <a>
                            <p>Peripherals <i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Grid column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half">
                <!--Card image-->
                <div class="view  hm-zoom">
                    <img src="{% static 'images/ecommerce-4.jpg' %}" class="img-fluid" alt="">
                    <div class="stripe light">
                        <a>
                            <p>Atmosphere <i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Fourth column-->

    </div>
    <!--Grid row-->
    <div class="row pt-2">

      <div class="col">
        <h3>Lorem Ipsum</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
        <button class="btn btn-info">Read More</button>
      </div>

      <div class="col">
        <h3>Dolor Amet</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
        <button class="btn btn-info">Read More</button>
      </div>
  </div>
  </div>
</section>

<section id="team" class="section team-section">
  <div class="container">

    <!--Section heading-->
    <h1 class="section-heading pt-4">Our Amazing Team</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="{% static 'images/team1.jpg' %}" class="rounded-circle z-depth-1" alt="First sample avatar image">
            </div>
            <h4>Anna Deynah</h4>
            <h6 class="font-bold blue-text">Web Designer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Instagram-->
            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="{% static 'images/team2.jpg' %}" class="rounded-circle z-depth-1" alt="Second sample avatar image">
            </div>
            <h4>John Doe</h4>
            <h6 class="font-bold blue-text">Web Developer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Linkedin-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Dribbble-->
            <a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"> </i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="{% static 'images/team3.jpg' %}" class="rounded-circle z-depth-1" alt="Third sample avatar image">
            </div>
            <h4>Maria Kate</h4>
            <h6 class="font-bold blue-text">Photographer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Pinterest-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Email-->
           <a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="{% static 'images/team4.jpg' %}" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
            </div>
            <h4>Tom Williams</h4>
            <h6 class="font-bold blue-text">Front-end Developer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Google +-->
            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--GitHub-->
            <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
</section>

<section id="contact" class="section contact">

  <div class="container">
    <h1 class="section-heading pt-4">Contact Details</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="row">

      <div class="col">
        <h2 class="text-center pb-3">Send A Message</h2>
          <!-- form placeholder while I work out how to programatically display the form -->
          <form  method="post" action="/contact/" >
            <input type='hidden' name='csrfmiddlewaretoken' value='zZeqFvb7yRUiOTbAsGRkiQP4x1MMgk8c6pwBrYlJGBTUfY4UEi8B3ug8GQuRfMc4' />

            <div id="div_id_contact_name" class="form-group">
              <label for="id_contact_name" class="form-control-label requiredField">Your name:<span class="asteriskField">*</span> </label>
              <div class="">
                <input class="textinput textInput form-control" id="id_contact_name" name="contact_name" placeholder="Full Name" type="text" required />
              </div>
            </div>

            <div id="div_id_contact_email" class="form-group">
              <label for="id_contact_email" class="form-control-label requiredField">Your email:<span class="asteriskField">*</span> </label>
              <div class="">
                <input class="emailinput form-control" id="id_contact_email" name="contact_email" placeholder="Email Address" type="email" required />
              </div>
            </div>

            <div id="div_id_content" class="form-group">
              <label for="id_content" class="form-control-label requiredField">Your message:<span class="asteriskField">*</span> </label>
              <div class="">
                <textarea class="textarea form-control" cols="40" id="id_content" name="content" placeholder="" rows="10" required></textarea>
              </div>
            </div>

            <input type="submit" name="sign_in" value="SUBMIT" class="btn btn-sm btn-info" id="submit-id-sign_in"/>
          </form>
          <!-- /end form placeholder -->
      </div>

      <div class="col-1"></div>

      <div class="col-7">
        <div id="map-container" class="map-container">
          <iframe class="gmap" src="https://www.google.com/maps/embed/v1/place?q=San%20Jose,California,%20USA&zoom=14&key=AIzaSyA7sJOlbThz4QfXqWrAvfwljKTwdu-5gfA" width="100%" height="400"></iframe>
        </div>

        <br>
        <!--Buttons-->
        <div class="row contact-map text-center">
            <div class="col">
                <a class="btn-floating project-blue"><i class="fa fa-map-marker"></i></a>
                <p class="pb-0">San Jose, CA 95008</p>
                <p>United States</p>
            </div>

            <div class="col">
                <a class="btn-floating project-blue"><i class="fa fa-phone"></i></a>
                <p>+1 (408) 555 6789</p>
                <p>Mon - Fri, 8:00-22:00</p>
            </div>

            <div class="col">
                <a class="btn-floating project-blue"><i class="fa fa-envelope"></i></a>
                <p>info@gmail.com</p>
                <p>sale@gmail.com</p>
            </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section>

  <form method="post">
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-info">Submit</button>
  </form>
</section>

{% endblock %}
