{% extends "base.html" %}

{% load static i18n %}

{% load crispy_forms_tags %}

{% block splash %}
<section class="intro view">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn">S2 Design - MDB BS4</h1>

        <h5 class="animated fadeIn mb-1">Inspired by Genius - Driven by Passion</h5>

        <p class="animated fadeIn mb-2"><em>~ Steve Shead</em></p>

        <p><a class="btn btn-info" href="{% url 'account_signup' %}">Register </a>
        <a class="btn btn-primary" href="{% url 'about' %}">More Info</a></p>
<div class="mask pattern-5"></div>
    </div>
</section>
{% endblock splash %}

{% block content %}
<section class="welcome">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        {% if request.user.is_authenticated %}
          <h3>Welcome <span>{{ request.user.name }}</span> - We Are Glad You Are Here!</h3>
        {% else %}
        <h3>Welcome Guest - Please <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a> or <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></h3>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section id="features" class="section features feature-box">
  <div class="container">

    <!--Section heading-->
    <h1 class="section-heading pt-4">The Future of Technology</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--Grid row-->
    <div class="row features-small pt-3">

        <!--Grid column-->
        <div class="col-lg-5 mb-r center-on-small-only">
            <img src="{% static 'images/ipad_pro_mockup.png' %}" alt="" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-bank blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Creativity</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <a class="btn btn-sm btn-outline-info" href="#">More Info</a>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-code blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Innovation</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <a class="btn btn-sm btn-outline-info" href="#">More Info</a>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-money blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Genius</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <a class="btn btn-sm btn-outline-info" href="#">More Info</a>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
</section>

<section id="projects" class="projects section text-center">
  <div class="container">

    <!--Section heading-->
    <h1 class="section-heading pt-4">Project Gallery</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/laptop-sm.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="green-text"><h5><i class="fa fa-line-chart"></i> Lorem Ipsum</h5></a>
                <h4>Dolor Sit Amet Laboriosam</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> View more</a>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/avenue.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="blue-text"><h5><i class="fa fa-eye"></i> Lorem Ipsum</h4></a>
                <h4>Dolor Sit Amet Laboriosam</h3>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> View more</a>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/bike.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="brown-text"><h5><i class="fa fa-camera"></i> Lorem Ipsum</h4></a>
                <h4>Dolor Sit Amet Laboriosam</h3>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> View more</a>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">

                <img src="{% static 'images/laptop_iphone.jpg' %}" class="img-fluid" alt="Sample project image">

                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-body">
                <a href="" class="cyan-text"><h5><i class="fa fa-phone"></i> Lorem Ipsum</h5></a>
                <h4>Dolor Sit Amet Laboriosam</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid.</p>
                <a class="btn btn-info"> View more</a>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
</section>

<section id="contact" class="contact">

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center pb-3">Contact Us</h2>
        <form action="{% url 'email' %}"method="post">
          <input type='hidden' name='csrfmiddlewaretoken' value='QLWzFTfIRWNAHT2wN6Ek55xaCS7j3KiNlX0dtzjbbwvWv9J1iEs6ZaJwZVtLd3rK' />

          <div id="div_id_from_email" class="form-group has-danger">
            <label for="id_from_email" class="form-control-label  requiredField">
                  From email<span class="asteriskField">*</span>
            </label>

            <div class="">
              <input class="emailinput form-control form-control-danger" id="id_from_email" name="from_email" type="email" required />
            </div>
          </div>

            <div id="div_id_subject" class="form-group has-danger">
              <label for="id_subject" class="form-control-label  requiredField">
                  Subject<span class="asteriskField">*</span>
              </label>

            <div class="">
              <input class="textinput textInput form-control form-control-danger" id="id_subject" name="subject" type="text" required />
            </div>
            </div>

            <div id="div_id_message" class="form-group has-danger">
              <label for="id_message" class="form-control-label  requiredField">
                  Message<span class="asteriskField">*</span>
              </label>

            <div class="">
              <textarea class="textarea form-control form-control-danger" cols="40" id="id_message" name="message" rows="10" required></textarea>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-info">Send</button>
          </div>
        </form>

      </div>

      <div class="col">
        <h2 class="text-center pb-3">Other Column</h2>
      </div>

    </div>
  </div>

</section>

{% endblock %}
