{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<section class="section">
<div class="container form-box">
  <div class="row">
    <div class="col-7">
      <h2>Subscribe Now</h2>
      <p>Subscribe to our newsletter and be the first to get the lastest and greatest news, views and special offers. In the meantime, enjoy the photos below.</p>
      <hr class="styled" />
      <div class="row">
      <div class="col">
        <img class="img-responsive" src="http://via.placeholder.com/300x300" />
      </div>
      <div class="col">
        <img class="img-responsive" src="http://via.placeholder.com/300x300" />
      </div>
      <div class="col">
        <img class="img-responsive" src="http://via.placeholder.com/300x300" />
      </div>
    </div>
  </div>
<div class="col-1"></div>
    <div class="col-4">

    <h2>{% block form_heading %}{% endblock %}</h2>
      {% block form %}
      {% endblock %}

    </div>
  </div>
</div>
</section>

{% endblock content %}
