{% extends "base.html" %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="contact" %}
{% endblock %}
{% block content %}
<section class="thank_you">
<div class="container">
  <div class="row">
    <div class="col text-center">
        <h1 style="text-transform:uppercase">Thank You!</h1>
          <p class="lead">We've received your<strong> message.</strong></p>
          <i class="fa fa-envelope-o fa-5x"></i>
          <br />
          <p class="mt-1">We'll get back to you shortly.</p>
        <p class="lead">
          {% if request.user.is_authenticated %}
              <a class="btn btn-info" href="{% url 'users:detail' request.user.username  %}">Profile</a>
              <a class="btn btn-success" href="{% url 'account_logout' %}">Sign Out</a>
          {% else %}
              <a class="btn btn-info" href="{% url 'account_signup' %}">Sign Up</a>
              <a class="btn btn-success" href="{% url 'account_login' %}">Sign In</a>
          {% endif %}
        </p>
    </div>
  </div>
</div>
</section>

{% endblock content %}
